<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Gustos en Peliculas</title>

        <!--JQUERY-->
        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


        <!-- Los iconos tipo Solid de Fontawesome-->
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"/>
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!-- Nuestro css-->
        <link rel="stylesheet" type="text/css" href="static/css/user-form.css"
              th:href="@{/css/user-form.css}"/>
        <!-- DATA TABLE -->
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"/>	
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>


    </head>
    <body>

        <ul class="nav nav-tabs justify-content-end">


        </ul>

        <div class="card">
            <div class="card-header">
                <h4>Gustos en Peliculas</h4>
            </div>
            <div class="card-body">
                <form class="form" role="form" autocomplete="off">
                    <div style="float:left;width:50%">
                        <center>
                            <div class="form-group row">
                                <label for="Accion" class="col-lg-3 col-form-label form-control-label">Accion</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Accion" name="Accion" value="Accion"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Aventura" class="col-lg-3 col-form-label form-control-label">Aventura</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Aventura" name="Aventura" value="Aventura"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Comedia" class="col-lg-3 col-form-label form-control-label">Comedia</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Comedia" name="Comedia" value="Comedia"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ComediaRomantica" class="col-lg-3 col-form-label form-control-label">Comedia Romantica</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="ComediaRomantica" name="ComediaRomantica" value="ComediaRomantica"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Drama" class="col-lg-3 col-form-label form-control-label">Drama</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Drama" name="Drama" value="Drama"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Terror" class="col-lg-3 col-form-label form-control-label">Terror</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Terror" name="Terror" value="Terror"></input>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div style="float:left;width:50%">
                        <center>
                            <div class="form-group row">
                                <label for="Musicales" class="col-lg-3 col-form-label form-control-label">Musicales</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Musicales" name="Musicales" value="Musicales"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="CienciaFiccion" class="col-lg-3 col-form-label form-control-label">Ciencia Ficcion</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="CienciaFiccion" name="CienciaFiccion" value="CienciaFiccion"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Suspenso" class="col-lg-3 col-form-label form-control-label">Suspenso</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Suspenso" name="Suspenso" value="Suspenso"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Infantiles" class="col-lg-3 col-form-label form-control-label">Infantiles</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Infantiles" name="Infantiles" value="Infantiles"></input>
                                </div>
                            </div>  
                            <div class="form-group row">
                                <label for="Documentales" class="col-lg-3 col-form-label form-control-label">Documentales</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Documentales" name="Documentales" value="Documentales"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Otros" class="col-lg-3 col-form-label form-control-label">Otros</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Otros" name="Otros" value="Otros"></input>
                                </div>
                            </div>
                        </center>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-lg-12 text-center">
                            <input type="submit" class="btn btn-primary" value="Continuar" formaction="/Fetiches"></input>
                        </div>
                    </div>
                </form>
            </div>  
        </div>

    </body>
</html>