<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Intereses</title>

        <!--JQUERY-->
        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


        <!-- Los iconos tipo Solid de Fontawesome-->
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"/>
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!-- Nuestro css-->
        <link rel="stylesheet" type="text/css" href="static/css/user-form.css"
              th:href="@{/css/user-form.css}"/>
        <!-- DATA TABLE -->
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"/>	
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>


    </head>
    <body>

        <ul class="nav nav-tabs justify-content-end">


        </ul>

        <div class="card">
            <div class="card-header">
                <h4>Intereses</h4>
            </div>
            <div class="card-body">
                <form class="form" role="form" autocomplete="off">
                    <div style="float:left;width:50%">
                        <center>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Genero de interes</label>
                                <div class="col-lg-9">
                                    <label class="radio">
                                        <input type="radio" name="answer"></input>
                                        Hombre
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer"></input>
                                        Mujer
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Tipo de Relacion</label>
                                <div class="col-lg-9">
                                    <label class="radio">
                                        <input type="radio" name="answer"></input>
                                        Formal
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="answer"></input>
                                        Pasajera
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Deporte" class="col-lg-3 col-form-label form-control-label"> Deporte</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Deporte" name="Deporte" value="Deporte"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Lectura" class="col-lg-3 col-form-label form-control-label">Lectura</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Lectura" name="Lectura" value="Lectura"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Baile" class="col-lg-3 col-form-label form-control-label"> Baile</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Baile" name="Baile" value="Baile"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Mascotas" class="col-lg-3 col-form-label form-control-label">Mascotas</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Mascotas" name="Mascotas" value="Mascotas"></input>
                                </div>
                            </div>    
                        </center>
                    </div>
                    <div style="float:left;width:50%">
                        <center>
                            <div class="form-group row">
                                <label for="Cine" class="col-lg-3 col-form-label form-control-label">Cine</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Cine" name="Cine" value="Cine"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Teatro" class="col-lg-3 col-form-label form-control-label">Teatro</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Teatro" name="Teatro" value="Teatro"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Videojuegos" class="col-lg-3 col-form-label form-control-label">Videojuegos</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Videojuegos" name="Videojuegos" value="Videojuegos"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Arte" class="col-lg-3 col-form-label form-control-label">Arte</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Arte" name="Arte" value="Arte"></input>
                                </div>
                            </div>  
                            <div class="form-group row">
                                <label for="Fiestas" class="col-lg-3 col-form-label form-control-label">Fiestas</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Fiestas" name="Fiestas" value="Fiestas"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Otros" class="col-lg-3 col-form-label form-control-label">Otros</label>
                                <div class="col-lg-9">
                                    <input class= "form-control" type="checkbox" id="Otros" name="Otros" value="Otros"></input>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 text-center">
                            <input type="submit" class="btn btn-primary" value="Continuar" formaction="/gustosMusicales"></input>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </body>
</html>
