<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="login.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <style>

    </style>
</h:head>


<body style="background-color:#F79E06;">

<div id="down">
    <center>
        <h2 id="textBien">¡Bienvenido a FindEci!</h2>
    </center>
</div>

<div id="centro">
    <div id="marco2">
        <center>
            <h2 id="textoTitulos">Ingresa ¡Conoce nueva gente de la ECI!</h2>

        </center>

        <br></br>

        <form>
            
            <center>
                <div id="center">
                    <label for="text" id="texto">Correo institucional: </label>
                    <input type="text" class="form-control" id="inputmail" placeholder="Correo institucional">
                    </input>
                </div>
                <br></br>
                <div>
                    <label for="inputpassword" id="texto">Contraseña: </label>
                    <input type="password" id="inputpassword" placeholder="Password" class="form-control"></input>
                </div>
                <br/>
                <br/>
                <div id="down">
                    <button type="button" class="btn btn-danger" id="lado">¡Ingresa!</button>
                </div>
                <br/>
                <br/>
                <div id="down">
                    <div id="lado">
                        <label> Recordarme <input type="checkbox" value="Recordarme"></input> </label>
                    </div>

                </div>

            </center>
        </form>
    </div>
</div>
</body>
</html>
