<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>RegistarUsuario</title>
        <link rel="stylesheet" href="login.css"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body style="background-color:#F79E06;">


        <div id="down">
            <center>
                <h2 id="textBien">¡Bienvenido a FindEci!</h2>
            </center>
        </div>

        <div id="marco2">

            <center>
                <h2 id="textoTitulos">¡Registrate, Conoceras muchas personas! </h2>
            </center>

            <center>
                <h2 id="textoTitulos">A continuacion ingresa la informacion personal para crear tu usuario </h2>
            </center>
            <br/>
            <br/>
            <br/>
            <div id="down">
                <center>
                    <div class="input-group" id="downBox">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="texto">Primer y Segundo nombre: </span>
                        </div>
                        <br/>
                        <div id="lado">
                            <input type="text" class="form-control" placeholder="Primer Nombre">
                        </div>
                        <br/>
                        <div id="lado">
                            <input type="text" class="form-control" placeholder="Segundo Nombre (opcional)">
                        </div>

                    </div>
                    <br/>
                    <br/>
                    <div class="input-group" id="downBox">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="texto">Primer y Segundo apellido : </span>
                        </div>
                        <br/>
                        <div id="lado">
                            <input type="text" class="form-control" placeholder="Primer Apellido">
                        </div>
                        <br/>
                        <div id="lado">
                            <input type="text" class="form-control" placeholder="Segundo Apellido ">
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="input-group" id="downBox">
                        <div class="input-group-prepend" id="lado">
                            <span class="input-group-text" id="texto">Genero: </span>

                            <select class="form-control">
                                <option>Masculino</option>
                                <option>Femenino</option>
                                <option>Otro</option>
                            </select>

                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="input-group" id="downBox">
                        <div class="input-group-prepend" id="lado">
                            <span class="input-group-text" id="texto">Fecha de Nacimiento: </span>

                            <input type="date" name="cumpleanios" step="1" min="2013-01-01" max="2013-12-31" value="2013-01-01">

                        </div>

                    </div>
                    <br/>
                    <br/>
                    <div class="input-group" id="downBox">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="texto">Altura: </span>
                        </div>
                        <br/>
                        <div id="lado">
                            <input type="text" class="form-control" placeholder="Altura(cm)">
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="input-group" id="downBox">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="texto">Correo institucional: </span>
                        </div>
                        <br/>
                        <div id="lado">
                            <input type="text" class="form-control" placeholder="Correo institucional">
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="input-group" id="downBox">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="texto">Numero de carnet: </span>
                        </div>
                        <br/>
                        <div id="lado">
                            <input type="text" class="form-control" placeholder="Numero de carnet">
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="input-group" id="downBox">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="texto">Carrera: </span>
                        </div>
                        <br/>
                        <div id="lado">
                            <input type="text" class="form-control" placeholder="Carrera">
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="input-group" id="downBox">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="texto">Semestre actual: </span>
                        </div>
                        <br/>
                        <div id="lado">
                            <input type="text" class="form-control" placeholder="Semestre actual">
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="input-group" id="downBox">
                        <div class="input-group-prepend" id="lado">
                            <span class="input-group-text" id="texto">Genero de interes: </span>

                            <select class="form-control">
                                <option>Masculino</option>
                                <option>Femenino</option>
                            </select>

                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div id="down">
                        <button type="button" class="btn btn-danger" id="lado">Siguiente</button>
                    </div>
                </center>

            </div>
    </body>
</html>
